################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APBills/.vs/APBills/v16
/APBills/.vs/S5WebApiPoc
/APBills/APBills/bin/Debug/netcoreapp3.0
